body {
  color: white;
  background-color: grey;
}
header {
  color: white;
  text-align: center;
  font: normal 30px Arial;
}
section {
  background: grey;
  border-radius: 10px;
  padding: 30px;
  padding-top: 0px;
  width: 900px;
  margin: auto;
}
#res {
  margin-top: 0px;
  font: normal 40px Arial;
  padding-right: 10px;
  text-align: right;
}
p {
  height: 18px;
  padding-right: 10px;
  text-align: right;
  padding-top: 8px;
  margin-bottom: 8px;
}
input.n {
  margin: auto;
  width: 222px;
  height: 75px;
  font: normal 35px Arial;
  background-color: black;
  color: white;
}
input.o {
  background-color: rgb(75, 75, 75);
  margin: auto;
  width: 222px;
  height: 75px;
  font: normal 35px Arial;
  color: white;
}
input.n:hover {
  background-color: rgb(158, 158, 158);
}
input.o:hover {
  background-color: rgb(158, 158, 158);
}
input#c {
  background-color: red;
  color: white;
  font: normal 35px Arial;
  height: 75px;
  width: 900px;
}
input#c:hover {
  background-color: rgb(250, 115, 115);
}
h1#calc {
  margin-top: 25px;
}
